
html{ height: 100%; }

* {margin: 0;
   padding: 0;
   box-sizing: border-box;}


body {
  background-color: rgb(214, 227, 249);
  font-size: 100%;
   /* font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif; */
   font-family: Century; 
   font-weight: bold;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
#cat-img {}

.img-scarves{}
  


.scarves-div { width: 350px;
                }

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline; 
}

/**************** HERO *****************/
header { background-image: url("https://ak7.picdn.net/shutterstock/videos/9813977/thumb/1.jpg");background-repeat: repeat; background-position: center; background-size: contain;}
header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 3.5rem; color: rgb(22,138,57);
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: rgb(22,138,57)

}


.item-container { 
  margin: auto;
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around;


}

a { 
  font-size: 1.5em; 
  color: black; 
  margin: 0 .5em; 
  text-decoration: none;

}


nav ul { 
  display: flex;
  justify-content: flex-start;
 


} 